Event ID: <%= @event.id %><br>
Description: <%= @event.description %><br>
Date: <%= @event.date %><br>
Creator: <%= @event.creator.name %><br>
Attendees:
<ul>
  <% @event.attendees.each do |attendee| %>
    <li>
      <%= attendee.name %>
    </li>
  <% end %>
</ul>


<%= button_to "Attend event", attendances_path(event: @event) %>
<%= link_to "Event index", events_path %>
