<br>Current session using UID:
<%= link_to session[:current_user_id], user_path(session[:current_user_id]) %>
<%= link_to "Log out", session_path, method: "delete"%>
<br><br>

Event ID: <%= @event.id %><br>
Description: <%= @event.description %><br>
Date: <%= @event.date %><br>
Creator: <%= @event.creator.name %><br>
Attendees:
<ul>
  <% @event.attendees.each do |attendee| %>
    <li>
      <%= attendee.name %>
    </li>
  <% end %>
</ul>


<%= button_to "Attend event", attendances_path(event: @event) %>
<%= link_to "Event index", events_path %>
